body{
	paddin:0;
	margin:0;	
}

.masthead{
	height:60px;
	background:#3cdce9;

}
span{
	color:#ffff;
	font-size:25px;
	font-weight:bold;
	margin-left:10px;
}

.inputbox{
	color:#1d858d;
	position:relative;
	width:520px;
	height:37px;
	margin-top:10px;
	margin-left:60px;
	font-size: 20px;
	
}

.botton1{
	width:200px;
	background-color: #1d858d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;		
}

.delete_item{
	width:100px;
	color:#fff;
	background:#1d858d;
	margin-left:250px;
	border: none;
	font-size:25px;
	margin-bottom:5px;
	position:relative;
}

ul li{
	list-style:none;
	color:#ffff;	
}

#mytodos{
	margin-top:10px;
	margin-left:250px;
	background:#3cdce9;
	width:800px;
	min-height:600px;
	padding-top:5px;
}
.botton1:hover{
	background:#99f3fb;
	
}

